body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#score {
    font-size: 40px;
    text-align: right;
}

#task {
    font-size: 68px;
}

.fraction {
    display: inline; 
    font-size: 48px;
}

